*{
   font-family: "Geist", sans-serif;
}
.high{
   font-size: small;
   background: #FEECEC;
   color: #EF4444;
   padding: 8px;
   border-radius: 6px;
}
.help{
   font-size: small;
   background: #BBFFD0 ;
   color: #00A96E;
   padding: 8px;
   border-radius: 6px;
}
.enhancement{
   font-size: small;
   background: #FFF8DB;
   color: #dcaf0b;
   padding: 8px;
   border-radius: 6px;
}
.low{
   font-size: small;
   background: rgb(237, 235, 235);
   color: rgb(107, 106, 106);
   height: 24px;
   width: 80px;
   border-radius: 100px;
}
.medium{
   font-size: small;
   background: #FFF8DB;
   color: #dcaf0b;
   height: 24px;
   width: 80px;
   border-radius: 100px;
}
.active{
   background-color: var(--color-primary);
   color: white;
}